<%- include("header.ejs") -%>

<div class="box" id="heading">
  <h2>About To Do notes</h2>
</div>

<div class="box" id="about">
  <p>Ever feel like those little tasks are always slipping away from you mind? Fear no longer, To Do notes is here for the rescue! Add your notes in our <a href="/">home page</a> and never forget about them again. </p>
</div>

<%- include("footer.ejs") -%>