<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do list</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <div class="box" style="margin-top: 0;">
      <div class="nav-item">
        <a href="/<%= route %>"><%= navLink %></a>
      </div>
    </div>
  </header>