<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do list</title>
</head>
<body>

  <h1> <%= day %> </h1>
  
  <ul>
    <li>Buy Food</li>
    <li>Cook Food</li>
    <li>Eat Food</li>
    <% if (newItems.length > 0) { %>
      <% newItems.forEach(item => { %>
        <li> <%=  item %> </li>
      <% }) %>
    <% } %>
  </ul>

  <form action="/" method="POST">
    <input name="newItem" placeholder="new item">
    <button type="submit" name="button">Submit</button>
  </form>
  
  
</body>
</html>