<%- include("header.ejs") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% if (newItems.length > 0) { %>
      <% newItems.forEach(item => { %>
        <div class="item"> 
          <input type="checkbox">
          <p><%=  item %> </p>
        </div>
      <% }) %>
    <% } %>

    <form class="item" action="/" method="POST">
      <input type="text" name="newItem" placeholder="New item" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>
  </div>

  <%- include("footer.ejs") -%>